@import url(Queries.css);


:root {
    --tamamo_Fonte: 22px;
    --letras: Arial, Helvetica, sans-serif;
    --cor-titulos: #77736f;
    --cor-menu: black;
    --tamanho_letra_segundaria: 35px;
    --tamanho-titulos: 60px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    background-color: #C8DADD !important;
    border-radius: 16px !important;
}

.nav-item a {
    color: var(--cor-menu) !important;
    font-style: var(--letras) !important;
    font-size: var(--tamamo_Fonte) !important;

}

.nav-item a:hover {
    color: rgb(117, 65, 65) !important;
}

.container {
    margin: 100px 0px 0px -10px;
}

.titulo {

    font-size: var(--tamanho-titulos) !important;
    color: var(--cor-titulos);
    font-style: var(--letras);
    text-align: left;
    border-left: 1px solid red;
    margin: 270px 0px -18px;



}

.subtitulo1 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 80px;
    text-align: left;

}

.subtitulo2 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 150px;
    text-align: left;

}

.subtitulo3 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 240px;
    text-align: left;

}

.subtitulo4 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 8px 0px 0px 320px;
    text-align: left;

}



.container-image {
    width: 555px;
    margin: -520px 0px 0px 00px;
}

.heart {
    width: 190px;
    margin: -10px 0px 0px 1090px;
}

.Logo-reino {
    width: 50px;
    margin-top: 0px;
}


.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fafbfc, #C8DADD, #ABC0C3);
    background-size: 100%;
    animation: gradient-animation 6s ease infinite;

}

@keyframes gradient-animation {
    20% {
        background-position: 5% 70%;
    }

    50% {
        background-position: 100% 50%;
    }

    80% {
        background-position: 3% 50%;
    }
}

@media (min-width: 350px) and (max-width:550px){


    .heart {
        margin: 50px 0px 0px -140px !important;
    }

    .titulo {

        font-size: 45px !important;
        color: var(--cor-titulos);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 50px 30px 10px;


    }

    .subtitulo1 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 0px 0px 0px 80px;
        text-align: left;

    }

    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 0px 0px 0px 150px;
        text-align: left;

    }

    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 0px 0px 0px 240px;
        text-align: left;

    }

    .subtitulo4 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 8px 0px 0px 320px;
        text-align: left;

    }

    .heart {
        width: 190px;
        margin: -10px 0px 0px 890px;
    }

}


@media (min-width: 700px) and (max-width: 900px) {

    .heart {
        width: 190px;
        margin: 0px 0px 0px 220px !important;
    }

    .titulo {

        font-size: 65px !important;
        color: var(--cor-titulos);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 60px 0px 0px 30px !important;


    }

    .subtitulo1 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 180px;
        text-align: left;

    }

    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 260px;
        text-align: left;

    }

    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 360px;
        text-align: left;

    }

    .subtitulo4 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 8px 0px 0px 320px;
        text-align: left;

    }
}