

@media (min-width: 1024px){

    .heart {
        width: 190px;
        margin: 0px 0px 0px 480px !important;
    }

    .titulo {

        font-size: 65px !important;
        color: var(--cor-titulos);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 60px 0px 0px 30px !important;


    }

    .subtitulo1 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 190px !important;
        text-align: left;

    }

    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 290px !important;
        text-align: left;

    }

    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 10px 0px 0px 390px !important;
        text-align: left;

    }

    .subtitulo4 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor-titulos);
        font-style: var(--letras);
        margin: 8px 0px 0px 320px;
        text-align: left;

    }
}

