@import url(Lideres.css);
@import url(android.css);


.tituloEventos{
 color: var(--cor-titulos) !important;
}
.linhaTitulo{
    
    margin: -18px 0px 0px 320px;
}
.card-text{
    text-align: center !important;
}
.card{
    margin: 0px 0px 0px 10px;
}