:root {
    --tamamo_Fonte: 22px;
    --letras: Arial, Helvetica, sans-serif;
    --cor-titulos: #77736f;
    --cor-menu: black;
    --tamanho_letra_segundaria: 35px;
    --tamanho-titulos: 60px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    background-color: #C8DADD !important;
    border-radius: 16px !important;
    width: auto !important;
}

.nav-item a {
    color: var(--cor-menu) !important;
    font-style: var(--letras) !important;
    font-size: var(--tamamo_Fonte) !important;

}

.form-titulo{
    text-align: center;
    border-left: 1px red;
}

.heart {
    width: 190px;
    margin: -10px 0px 0px 890px;
}

.Logo-reino {
    width: 50px;
    margin-top: 0px;
}

.container-fluid {

    margin: auto;
    padding: auto;
}

.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fafbfc,#C8DADD,#ABC0C3);
    background-size: 100%;
    animation: gradient-animation 6s ease infinite;

}

.formulario{
    align-items:center ;
}

.form-titulo{
    color: var(--cor-titulos);
}

@keyframes gradient-animation {
    20% {
        background-position: 0% 70%;
    }

    50% {
        background-position: 10% 50%;
    }

    80% {
        background-position: 0% 70%;
    }
}