:root {
    --tamamo_Fonte: 22px;
    --letras: Arial, Helvetica, sans-serif;
    --cor-titulos: #77736f;
    --cor-menu: black;
    --tamanho_letra_segundaria: 35px;
    --tamanho-titulos: 60px;

}


.navbar {
    background-color: #C8DADD !important;
    border-radius: 16px !important;
}

.nav-item a {
    color: var(--cor-menu) !important;
    font-style: var(--letras) !important;
    font-size: var(--tamamo_Fonte) !important;

}
.container{
    margin: 100px 0px 0px -10px;
}

.titulo {

    font-size: var(--tamanho-titulos) !important;
    color: var(--cor-titulos);
    font-style: var(--letras);
    text-align: left;
    border-left: 1px solid red;
    margin: 270px 30px 0px;



}

.subtitulo1{
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 80px;
    text-align: left;

}

.subtitulo2 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 150px;
    text-align: left;

}

.subtitulo3 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 0px 0px 0px 240px;
    text-align: left;

}

.subtitulo4 {
    font-size: var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 8px 0px 0px 320px;
    text-align: left;

}



.container-image {
    width: 555px;
    margin: -520px 0px 0px 00px;
}

.heart {
    width: 190px;
    margin: -10px 0px 0px 890px;
}

.Logo-reino {
    width: 50px;
    margin-top: 0px;
}


.gradient {
    width: 100vw;
    height: 200vh;
    background: linear-gradient(#fafbfc, #C8DADD, #ABC0C3);
    background-size: 100%;
    animation: gradient-animation 6s ease infinite;

}

@keyframes gradient-animation {
    20% {
        background-position: 5% 70%;
    }

    50% {
        background-position: 100% 50%;
    }

    80% {
        background-position: 3% 50%;
    }
}

@media (min-width: 350px){


    .heart{
        margin: 50px 0px 0px -130px !important;
    }
    .titulo {

        font-size: var(--tamanho-titulos) !important;
        color: var(--cor-titulos);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 50px 30px 0px;

    
    }

}
    
