
:root{
    --tamamo_Fonte: 22px;
    --letras:Arial, Helvetica, sans-serif;
    --cor-titulos: #77736f;
    --cor-menu:black;
    --tamanho_letra_segundaria:35px;
    --tamanho-titulos:60px;
    
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.navbar{
    background-color: rgb(210, 231, 233) !important;
    border-radius: 16px !important;
}
.nav-item a{
    color:var(--cor-menu)!important;
    font-style: var(--letras)!important;
    font-size: var(--tamamo_Fonte) !important;

}
.titulo{

    font-size: var(--tamanho-titulos)!important;
    color: var(--cor-titulos);
    font-style: var(--letras);
    text-align: left;
    border-left: 1px solid red;
    margin: 250px -90px 0px ;
    
       
    
}.subtitulo{
    font-size:var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 6px 0px 0px 60px ;
    text-align: left;

}
.subtitulo2{
    font-size:var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 50px 0px 0px -250px ;
    text-align: left;

}

.subtitulo3{
    font-size:var(--tamanho_letra_segundaria);
    color: var(--cor-titulos);
    font-style: var(--letras);
    margin: 8px 0px 0px 320px ;
    text-align: left;

}

.container-image{
    width: 555px;
    margin: -520px 0px 0px 00px;
}
 .heart{
    width: 190px;
    margin: -10px 0px 0px 890px;
 }
.Logo-reino{
    width: 50px;
    margin-top: 0px;
    }
    

.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#fafbfc, #ffF,#d5f3e3,rgb(133, 231, 248));
	background-size: 100%;
	animation: gradient-animation 6s ease infinite;
    
}

@keyframes gradient-animation {
	20% {
		background-position: 5% 70%;
	}
	50% {
		background-position: 100% 50%;
	}
	80% {
		background-position: 3% 50%;
	}
}

/*Tablet*/
@media(max-width: 1030px){

    :root{
        --tamamo_Fonte: 12px;
        --letras:Arial, Helvetica, sans-serif;
        --cor_da_fonte-titulo: #545454;
        --tamanho_letra_segundaria:25px;
        --tamanho-titulos:40px;
        --cor-menu:black;
        
    }

    .navbar{
        
    }

    .nav-link {
        color: var(--cor-menu) !important;
        font-style: var(--letras) !important;
        font-size: 25px !important;

    }

    .titulo {

        font-size: var(--tamanho-titulos);
        color: var(--cor_da_fonte-titulo);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 190px 5px 10px 0px;



    }

    .subtitulo {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte-titulo);
        font-style: var(--letras);
        margin: 5px 10px 0px 40px;
        text-align: left;
        

    }
    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte-titulo);
        font-style: var(--letras);
        margin: 40px 0px 0px -180px;
        text-align: left;
        

    }
    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte-titulo);
        font-style: var(--letras);
        margin: 5px 0px 0px 250px;
        text-align: left;
        

    }

    .container-image {
        width: 555px;
        margin: -520px 0px 0px 900px;
    }

    .heart {
        margin: -70px 0px 0px 500px;
    }

    .Logo-reino {
        width: 60px;
        margin-top: 0px;
    }

    .inicio_reino {
        width: 755px;
        align-items: center;
        margin: -10px 0px 0px 950px;
    }

    .gradient {
        width: 100vw;
        height: 100vh;
        background: linear-gradient( #ABC0C3, #C8DADD, #ABC0C3);
        background-size: 100% 100%;
        animation: gradient-animation 6s ease infinite;

    }
}

@keyframes gradient-animation {
    20% {
        background-position: 30% 70%;
    }

    50% {
        background-position: 10% 50%;
    }

    80% {
        background-position: 0% 50%;
    }
}



/* Mobile */
@media(max-width:393px){

    :root{
        --tamamo_Fonte: 12px;
        --letras:Arial, Helvetica, sans-serif;
        --cor_da_fonte: #545454;
        --tamanho_letra_segundaria:25px;
        --tamanho-titulos:30px;
        
    }

    .navbar navbar-expand-lg bg-body-tertiary {
        color: var(--cor_da_fonte) !important;
        font-style: var(--letras) !important;
        font-size: 35px !important;
    }

    .nav-link:houve {
        color: red !important;

    }

    .titulo {

        font-size: var(--tamanho-titulos);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 120px 5px 40px 0px;



    }

    .subtitulo {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 5px 10px 0px 40px;
        text-align: left;
        

    }
    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 50px 0px 0px -10px;
        text-align: left;
        

    }
    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 5px 0px 0px 200px;
        text-align: left;
        

    }

    .container-image {
        width: 555px;
        margin: -520px 0px 0px 900px;
    }

    .heart {
        margin: 90px 0px 0px 100px;
    }

    .Logo-reino {
        width: 60px;
        margin-top: 0px;
    }

    .inicio_reino {
        width: 755px;
        align-items: center;
        margin: -10px 0px 0px 950px;
    }

    .gradient {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#fafbfc, #ffF, #d5f3e3, rgb(133, 231, 248));
        background-size: 100% 100%;
        animation: gradient-animation 6s ease infinite;

    }
}

@keyframes gradient-animation {
    20% {
        background-position: 0% 70%;
    }

    50% {
        background-position: 50% 50%;
    }

    80% {
        background-position: 3% 50%;
    }
}


/* Mobile */
@media(-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 4){

    :root{
        --tamamo_Fonte: 12px;
        --letras:Arial, Helvetica, sans-serif;
        --cor_da_fonte: #545454;
        --tamanho_letra_segundaria:25px;
        --tamanho-titulos:40px;
        
    }

    .navbar navbar-expand-lg bg-body-tertiary {
        color: var(--cor_da_fonte) !important;
        font-style: var(--letras) !important;
        font-size: 35px !important;
    }

    .nav-link:houve {
        color: red !important;

    }

    .titulo {

        font-size: var(--tamanho-titulos);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        text-align: left;
        border-left: 1px solid red;
        margin: 190px 5px 10px 0px;



    }

    .subtitulo {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 5px 10px 0px 40px;
        text-align: left;
        

    }
    .subtitulo2 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 50px 0px 0px -10px;
        text-align: left;
        

    }
    .subtitulo3 {
        font-size: var(--tamanho_letra_segundaria);
        color: var(--cor_da_fonte);
        font-style: var(--letras);
        margin: 5px 0px 0px 200px;
        text-align: left;
        

    }

    .container-image {
        width: 555px;
        margin: -520px 0px 0px 900px;
    }

    .heart {
        margin: 90px 0px 0px 100px;
    }

    .Logo-reino {
        width: 60px;
        margin-top: 0px;
    }

    .inicio_reino {
        width: 755px;
        align-items: center;
        margin: -10px 0px 0px 950px;
    }

    .gradient {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#fafbfc, #ffF, #d5f3e3, rgb(133, 231, 248));
        background-size: 100% 100%;
        animation: gradient-animation 6s ease infinite;

    }
}

@keyframes gradient-animation {
    20% {
        background-position: 0% 70%;
    }

    50% {
        background-position: 50% 50%;
    }

    80% {
        background-position: 3% 50%;
    }
}

